
[Unit]
Description="Matrix Sygnal Server (sygnal)"

[Service]
Type=simple
WorkingDirectory={{ matrix_sygnal_base_path }}
ExecStart=gunicorn -c {{ matrix_sygnal_base_path }}/sygnal/gunicorn_config.py sygnal:app
ExecStop=kill -TERM `cat {{ matrix_sygnal_base_path }}/sygnal.pid`
User=sygnal
Group=sygnal
Restart=always
StandardOutput=syslog
SyslogIdentifier=matrix_sygnal

[Install]
WantedBy=default.target